<h1>Images:</h1><!-- comfirmet fragment -->
        <input type="hidden" id="a_file2" value="left: 410px; top: 110px; width="100" height="80"">
        <a id="a_file2" href="https://www.test.com/" class="site-link" style="left: 410px; top: 110px;">
        <img hidden id="i_file2" src="static/user_content/uploads/gif/410x110_alex.matveyev88-gmail.com_2020-12-19_14-38-43.gif"></img>
        <img id="file2" type="img" src="static/user_content/uploads/thumbnails/410x110_alex.matveyev88-gmail.com_2020-12-19_14-38-43.gif.jpeg" alt="Demo" 
        width="64px" height="64px" class="video-fragment"/></a><span></span>

<!-- comfirmet fragment -->
        <input type="hidden" id="a_file3" value="left: 90px; top: 90px; width="60" height="50"">
        <a id="a_file3" href="https://www.sdvsdvdsv.com/" class="site-link" style="left: 90px; top: 90px;">
        <img hidden id="i_file3" src="static/user_content/uploads/gif/90x90_alex.matveyev88-gmail.com_2020-12-20_13-57-17.gif"></img>
        <img id="file3" type="img" src="static/user_content/uploads/thumbnails/90x90_alex.matveyev88-gmail.com_2020-12-20_13-57-17.gif.jpeg" alt="sdvdsv" 
        width="64px" height="64px" class="video-fragment"/></a><span></span>

<br /><br /><br /><h1>CSV Format:</h1><strong>[PENDING gif]</strong>: 2;1;rgb(227, 239, 237);410;110;100;80;80;6400;Demo;Demo;alex.matveyev88@gmail.com;https://www.test.com/;410x110_alex.matveyev88-gmail.com_2020-12-19_14-38-43.gif;gif;static/user_content/uploads/410x110_alex.matveyev88-gmail.com_2020-12-19_14-38-43.gif;=q#dpw,sx&;2020-12-19 14:38:43.581377;<br /><br /><strong>[PENDING gif]</strong>: 3;1;rgb(107, 8, 252);90;90;60;50;30;2400;sdvsdv;sdvdsv;alex.matveyev88@gmail.com;https://www.sdvsdvdsv.com/;90x90_alex.matveyev88-gmail.com_2020-12-20_13-57-17.gif;gif;static/user_content/uploads/90x90_alex.matveyev88-gmail.com_2020-12-20_13-57-17.gif;(,*@>ge;]);2020-12-20 13:57:17.928222;<br /><br />